/* Layout */
$inner-width: 600px;

/* color */
$color-default: #000;
$color-ci: #353746;
$color-white: #fff;

/* Font-family */
$font-family-default: AppleSDGothicNeo,sans-serif;

/* Font-size */
$font-size-default: 13px;

