@import 'var';
#vending-machine {
    display: flex;
    width: $inner-width;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 5px;
    background: $color-ci;

    #panel-items {
        width: 65%;
        padding: 10px;
        border: 2px solid #e75748;
        border-radius: 5px;
        background: #fdf1d7;
        .item-list {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 20%;
                margin: 2.5%;
                padding: 10px;
                text-align: center;
                border: 1px solid $color-ci;
                background: #fff;
                span {
                    display: block;
                    margin-top: 10px;
                    font-size: 13px;
                    line-height: 1.5;
                    border-radius: 3px;
                    background: #2cb69c;
                }
            }
        }
    }
    #panel-state {
        padding: 0 10px;
        width: 35%;
        .state-money {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 3px;
            text-align: right;
            background: #2cb69c;
        }
        .state-numbers {
            margin-bottom: 10px;
            > ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 33.3%;
                    button {
                        border: 1px solid $color-ci;
                    }
                    &:last-child {
                        width: calc(100% - 33.3%);
                        button {
                            color: #fff;
                            background: #e75748;
                        }
                    }
                }
            }
        }
        .state-message {
            min-height: 100px;
            padding: 10px;
            border: 2px solid #e75748;
            border-radius: 5px;
            background: #fdf1d7;
        }
    }
}
