@import 'var';
#wallet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: $inner-width;
    margin: 20px auto;
    
    .wallet-state {
        width: 80%;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                width: 25%;
                margin: 5px 0;
                button {
                    width: 50%;
                }
                span {
                    width: 50%;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
    }
    .wallet-total {
        width: 20%;
        font-size: 30px;
    }
}